#content {
      width: 1200px
      
      
      
      
}

#content h1 {
    color: #8259e2;
    font-size:40px;
    text-align:center;

}

#content h2 {
    color: #bd48bb;
    font-size:30px;
    text-align:left;

}

#content p {
    font-family:"Times New Roman";
    font-size:20px;
   
}
}